<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Liao Sipei</string>
	<string>Du Yongchao</string>
	<string>Gao Fan</string>
	<string>Gong Wenjia</string>
	<string>Chen Junwei</string>
	<string>Cao Jiaqing</string>
	<string>Gun Kun</string>
	<string>Wang Yangbing</string>
	<string>Liu Xiaole</string>
	<string>Xing Chen</string>
	<string>Sun Weiguang</string>
	<string>Han Yangang</string>
</array>
</plist>
